@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  /* colores  Base */
  --accent: #43d2ff;
  --bg-base: #F2F4FC;
  /* Primary Colors */
  --Primary-default: #072ac8;
  --Primary-hover: #a2d6f9;
  --Primary-tapped: #d1edff;

  /* Secondary colors*/

  --Secondary-1: #ffc600;
  --Secondary-2: #fce300;

  /* neutral colors */

  --Neutral-dark: #292e47;
  --Neutral-medium: #6b708d;
  --Neutral-ligth: #f4f6fc;
  --Neutral-ligth-blue: #ecf7ff;

  /* adverts */

  --Wrong: #b33a3a;
  --Right: #28a428;
  --White: #fff;
  --Black: #000;
}

html,
body {
  text-align: center;
}

* {
  margin: 0 auto;
  padding: 0;
  background: var(--bg-base);
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
  border: 0;
}

a {
  text-decoration: none;
  color: var(--Neutral-medium);
  font-weight: bold;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--Neutral-dark);
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
  color: var(--Neutral-dark);
  font-weight: normal;
  margin-bottom: 40px;
}

h4 {
  font-size: 24px;
  color: var(--Neutral-dark);
}



.btn {
  background-color: var(--Primary-default);
  color: var(--White);
  padding: 15px;
  font-weight: normal;
  display: inline;
  margin-top: 30px;
}
.btn:hover{
    color:var(--Secondary-1);
}

